/* ========================================
   E-PKL Custom Styles
   ======================================== */

* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

button,
input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}